* {
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/RobotoCondensed-Regular.ttf)
}

body {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-size: 14px
}

#presentation {
    background-color: #6da214;
    color: white;
    height: 25px;
    width: 100%;
    padding-bottom: 1px;
    box-sizing: border-box;
    border-bottom: #282827 solid 2px
}

#presentation .searchbar {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.searchbar input {
    border: #6da214 solid 1px;
    height: 90%;
    width: 40%
}

#logo-menu {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#logo-menu .logo img {
    width: 40%
}

.mainmenu #menumobile,
.mainmenu .menumobile {
    display: none
}
.active{
    border: 1px #6da214 solid;
    padding-left: 5px;
    padding-right: 5px;
}
#logo-menu .mainmenu ul {
    list-style-type: none;
    padding: 5px 0
}

#logo-menu .mainmenu ul li {
    display: inline;
    padding: 0 15px
}

#logo-menu .mainmenu ul li:last-child {
    padding-right: 0
}

#logo-menu .mainmenu ul li a {
    text-decoration: none;
    color: #6da214;
    font-size: 1.1rem
}

#logo-menu .mainmenu ul li a:hover {
    background-color: #6da214;
    color: white;
    cursor: pointer;
}

#slider {
    width: 100%;
    background-color: #282827;
    box-sizing: border-box;
    border-bottom: #6da214 solid 2px;
    border-top: #6da214 solid 2px
}
#slider-wrapper{
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
#wrapper {
    min-height: 400px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.prev {
    cursor: pointer;
    position: absolute;
    width: auto;
    bottom: 40%;
    left: 0px;
    padding: 16px;
    margin-top: -60px;
    color:  #282827;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    bottom: 40%;
    right: 0px;
    padding: 16px;
    margin-top: -60px;
    color:  #282827;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Filtre Noir sur les Flèches */
.prev:hover, .next:hover {
    background-color: #282827;
    color: white;
}

.page-title {
    width: 100%;
    position: relative;
    border-top: #282827 solid 2px;
    border-bottom: #282827 solid 2px;
    margin-top: 20px
}

.page-title .imgfond {
    background-image: url(../images/trefles.jpg);
    min-height: 250px
}

.page-title figcaption {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center
}

.page-title h2 {
    margin: 0 auto;
    color: white;
    text-decoration: underline;
    font-weight: 700;
    font-size: 2.5rem
}

#container  {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px
}

#container h2 {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    color: #6da214;
    border-bottom: #282827 solid 2px;
    margin-bottom: 20px;
    margin-top: 20px
}

#news {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between
}

#news .article {
    width: 49%;
    display: flex;
    justify-content: space-between
}

.article figure {
    width: 49%
}

.article div {
    width: 49%
}

.article img {
    width: 100%
}

.article h3,
.article .date {
    color: white;
    background-color: #6da214;
    font-size: 1.3rem
}

.article .date {
    font-style: italic;
    font-size: .8rem
}

.article p {
    text-align: justify;
    font-size: .9rem
}

.article a {
    color: #6da214;
    text-decoration: none;
    font-size: .9rem
}

.article a:hover {
    font-weight: 700;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline
}

#recette-shop {
    width: 100%;
    display: flex;
    justify-content: space-between
}

#recettesolides {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#recettesolides .blog {
    width: 49%;
    background-color: white;
    margin: 0 0 10px 0
}

#recettesolides .blog p {
    text-align: justify;
    padding-top: 10px;
    font-size: .9rem
}

#recettesolides .blog h3 {
    color: white;
    background-color: #6da214;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px
}

#recettesolides .blog figure {
    text-align: center
}

#recettesolides .blog .rounded {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100px;
    height: 100px
}

#recettesolides .blog .plus {
    text-align: center
}

#recettesolides .blog a {
    text-decoration: none;
    color: #6da214
}

#recettesolides .blog a:hover {
    text-decoration: underline;
    font-weight: 700
}
#recetteliquides {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#recetteliquides .blog {
    width: 49%;
    background-color: white;
    margin: 0 0 10px 0
}

#recetteliquides .blog p {
    text-align: justify;
    padding-top: 10px;
    font-size: .9rem
}

#recetteliquides .blog h3 {
    color: white;
    background-color: #6da214;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px
}

#recetteliquides .blog figure {
    text-align: center
}

#recetteliquides .blog .rounded {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100px;
    height: 100px
}

#recetteliquides .blog .plus {
    text-align: center
}

#recetteliquides .blog a {
    text-decoration: none;
    color: #6da214
}

#recetteliquides .blog a:hover {
    text-decoration: underline;
    font-weight: 700
}
#shopping {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

#shop {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#shop .products {
    width: 23%;
    background-color: white
}

#shop .products img {
    width: 100%
}

#shop .products h3 {
    color: #6da214;
    text-align: center;
    padding-top: 5px
}

#shop .products p {
    text-align: center;
    font-size: .9rem;
    margin-top: 5px
}

#shop .products .price {
    color: #6da214;
    text-align: center;
    margin-top: 5px;
    font-weight: 700
}

#shop .products .button {
    text-align: center;
    background-color: #6da214;
    color: white
}

#shop .products a {
    text-decoration: none
}

#shop .products .button:hover {
    background-color: #282827;
    color: #6da214;
    font-weight: 700
}

#bottom-container {
    width: 100%;
    background-color: #282827
}

#bottom-container .ariane {
    background-color: #6da214;
    border-top: #282827 solid 2px
}

#bottom-container .ariane .ariane-link p {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white
}

#bottom-container .ariane .ariane-link a {
    color: white;
    text-decoration: none
}

#bottom-container .ariane .ariane-link a:hover {
    color: #6da214;
    background-color: white
}

#bottom-container .bottom {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px
}

#bottom-container .bottom .contact {
    width: 24%;
    border-left: #6da214 solid 2px
}

#bottom-container .bottom .contact h3 {
    padding-left: 15px;
    text-decoration: underline;
    color: white
}

#bottom-container .bottom .contact p {
    font-size: .9rem;
    padding: 5px 0 5px 15px;
    color: white
}

#bottom-container .bottom .contact img {
    width: 50px;
    height: 50px;
    padding: 5px 0 0 15px
}

#bottom-container .bottom .map {
    width: 74%
}

#bottom-container .bottom .map iframe {
    width: 100%;
    margin: 0 auto
}

#bottom-container .copyright {
    background-color: #6da214;
    border-bottom: #282827 solid 2px
}

#bottom-container .copyright p {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center
}

#bottom-container .copyright a {
    color: white;
    text-decoration: none
}

#bottom-container .copyright a:hover {
    color: #6da214;
    background-color: white
}

.error {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 150px
}

#contenu-blog {
    width: 100%
}

#contenu-blog figure {
    text-align: center
}

#contenu-boutique {
    width: 100%
}

#contenu-boutique figure {
    text-align: center
}

#contenu-presentation {
    width: 100%
}

#contenu-presentation figure {
    text-align: center
}

.plansite ul {
    list-style-type: none
}

.plansite ul li a {
    text-decoration: none;
    color: #6da214;
    font-weight: 700;
    font-size: 1rem
}

.plansite ul li a:hover {
    background-color: #6da214;
    color: white
}
    /* Style input et Textarea */
#inscription input, textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid #6da214;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
/* Style input et Textarea */
#myModal input, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #6da214;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
/* Style the submit button */
#myModal #send {
    background-color: #6da214;
    color: white;
    border: none;
    cursor: pointer;
}

#cgv {
    width: 100%
}

#cgv h2 {
    text-align: left;
    border-bottom: none
}

#cgv p {
    font-size: 1rem;
    text-align: justify
}

/* Style input et Textarea */
#message input, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #6da214;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
/* Style the submit button */
#message #envoi {
    background-color: #6da214;
    color: white;
    border: none;
    cursor: pointer;
}
#legalm {
    width: 100%
}

#legalm h3 {
    text-align: left;
    border-bottom: none;
    color: #6da214;
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 20px
}

#legalm p {
    font-size: 1rem;
    text-align: justify
}
  /* Modal Content/Box */
   /* The Modal (background) */
#myModal h2{
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    color: #6da214;
    border-bottom: #282827 solid 2px;
    margin-bottom: 20px;
    margin-top: 20px
}
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
   /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: white;
  }
  /* Modal Body */
  .modal-body {padding: 2px 16px;} 
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #282827;
    color: white;
    text-align: center;
  } 
  .modal-footer a{
      text-decoration: none;
  }
  .modal-footer .button {
    color: #6da214;
}
  .modal-footer .button:hover {
    color: white;
}

 /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  } 
  #cookie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10001;
}
#popup {
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
    width: 100%;
}
#popup p{
    padding: 20px 20px;
}
#accept-cookie{
    background-color: #6da214;
    color: white;
    border: none;
    width: 100%;
}
#refus-cookie{
    background-color: #6da214;
    color: white;
    border: none;
    width: 100%;
}
.arrowup {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #6da214;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    border: 2px solid #282827;
    z-index: 15000;
}
.arrowup #aup {
    font-size: 1.5rem;
    color: #282827;
}
@media screen and (max-width:800px) {
    .searchbar input {
        display: none
    }

    #presentation h1 {
        font-size: .8rem
    }

    #logo-menu .logo {
        width: 100%;
        text-align: center
    }

    #slider {
        display: none
    }
    #container #news h2{
        margin-left: 10px;
        margin-right: 10px;    
    }
    #container #news .article {
        width: 100%;
        margin: 10px;
    }
    #recette-shop{
        display: flex;
        flex-wrap: wrap;
    }
    #recettesolides{
        width: 100%;
        margin: 10px;
    }
    #recettesolides .blog{
        width: 100%;
    }
    #recetteliquides{
        width: 100%;
        margin: 10px;
    }
    #recetteliquides .blog{
        width: 100%;
    }
    #shop h2{
        margin: 10px;
    }
    #shop .products{
        width: 100%;
        margin: 10px;
    }
    #bottom-container .bottom .map {
        display: none
    }

    #bottom-container .bottom h3 {
        display: none
    }

    #bottom-container .bottom p {
        display: none
    }

    #bottom-container .bottom .contact {
        width: 100%;
        text-align: center
    }

    .copyright {
        text-align: center
    }

    #bottom-container .bottom .contact {
        border: none
    }

    #contenu-blog figure img {
        width: 50%
    }

    #contenu-boutique figure img {
        width: 50%
    }

    #contenu-presentation figure img {
        width: 50%
    }

    #logo-menu {
        flex-wrap: wrap
    }

    .mainmenu {
        width: 100%;
        text-align: center
    }

    #logo-menu .mainmenu ul li {
        display: block;
        line-height: 20px;
        font-size: 1.2rem;
        padding: 0
    }

    .mainmenu ul {
        display: none
    }

    .mainmenu .menumobile img {
        width: 40px
    }

    .mainmenu .menumobile {
        display: block
    }

    .mainmenu #menumobile:not(:checked),
    #menumobile:checked {
        position: absolute;
        left: -9999px
    }

    .mainmenu [type="checkbox"]:checked+label+ul {
        display: block
    }

    .error img {
        width: 100%
    }
    #message{
        margin: 10px;
    }
    #titlecgv{
        font-size: 1.5rem;
    }
    #cgv p{
        margin: 10px;
    }
    #cgv h2{
        margin: 10px;
    }
    #legalm p{
        margin: 10px;
    }
    #legalm h3{
        margin: 10px;
    }
    .plansite{
        margin: 10px;
    }
}